@model IEnumerable<Villa_Web.Models.Dto.VillaDTo>
<br />
<div class="container p-4 border">
    <div class="rounded-end pb-2">
        <div class="col">
            <h1 class="text-primary">Villa List</h1>
        </div>
        <div class="col">
            <a asp-controller="Villa" asp-action="CreateVilla" class="btn btn-primary">Create</a>
        </div>
    </div>

    <p>Items Count: @Model?.Count()</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th scope="col">Amenity</th>
                <th scope="col">Occupancy</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Details</td>
                    <td>@item.Amenity</td>
                    <td>@item.Occupancy</td>
                    <td>
                        <a asp-controller="Villa" asp-action="UpdateVilla" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                        <a asp-controller="Villa" asp-action="DeleteVilla" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
